{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<h1>Mesas</h1>

        <div class='container-fluid'>
            <div class="row">
                    {% for mesa in object_list %}
                    <div class="col-sm-6 col-md-6 col-lg-3">                        
                        <div class="card" id="card" style="width: 18rem;">
                            <div class="card-body">
                                <p>Modelo {{mesa.nombre}}</p>
                                <p>Precio $ {{mesa.precio}}</p>
                                <p>Color {{mesa.color}}</p>
                                <p>Stock {{mesa.stock}}</p>
                                <P>
                                    <a href="{% url 'Editar' mesa.id %}" class="card-link"> Editar</a>
                                    <a href="{% url 'Eliminar' mesa.id %}" class="card-link"> Eliminar</a>
                                </P>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto marginTop">
            <button class="btn  btn-dark" type="button">
                <a href="{% url 'MesaFormulario' %}">Agregar nueva Mesa</a>
            </button>
        </div>

{% endblock %}