{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<h1>Mesas</h1>

        <div class='container-fluid'>
            <div class="row">
                    {% for sillon in object_list %}
                    <div class="col-sm-6 col-md-6 col-lg-3">                        
                        <div class="card" id="card" style="width: 18rem;">
                            <div class="card-body">
                                <p>Modelo {{sillon.nombre}}</p>
                                <p>Precio {{sillon.precio}}</p>
                                <p>Color {{sillon.color}}</p>
                                <p>Stock {{sillon.stock}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

{% endblock %}